.clock {
  @media (min-width: 1124px) {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  &__lead {
    display: flex;
    gap: 16px;
    img {
      height: 24px;
      width: 24px;
    }
  }
  &__time {
    margin: 15px 0;
    display: flex;
    gap: 5px;
    @media (min-width: 768px) {
      gap: 12px;
      margin: 25px 0;
    }
    @media (min-width: 1024px) {
      margin: 45px 0;
    }
  }

  &__main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  &__timezone {
    margin-top: auto;
  }
  &__button {
    border: none;
    width: 115px;
    height: 39px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4px 0 17px;
    margin-top: 48px;
    cursor: pointer;
    circle {
      fill: $color-grey;
      transition: fill 0.5s ease;
    }
    &:hover {
      circle {
        fill: #999999;
      }
    }
    @media (min-width: 768px) {
      width: 146px;
      height: 56px;
      margin-top: 80px;
    }
    @media (min-width: 1124px) {
      margin-top: 0;
    }
  }
}
