.quote {
  /* Center the contents vertically and horizontally */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  opacity: 1;
  max-height: 100px;
  transition: 0.3s ease-in-out;

  &--showMore {
    opacity: 0;
    max-height: 0;
  }

  &__body {
    /* Set a maximum width to prevent text from overflowing */
    max-width: 70vw;
    margin-bottom: 8px;
  }

  &__refresh {
    /* Position the refresh button on the top right corner */
    position: absolute;
    top: 10px;
    right: 0;
    height: 16px;
    cursor: pointer;
  }

  /* Media query for tablets */
  @media only screen and (min-width: 481px) and (max-width: 1024px) {
    /* Center the contents vertically */
    align-items: center;

    &__body {
      /* Set a smaller maximum width to prevent text from overflowing */
      max-width: 50vw;
    }
  }

  @media only screen and (width > 1025px) {
    max-height: 300px;
    &__body {
      max-width: 40vw;
    }
  }
}
